.hero-img {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
}

.hero-img::before {
    content: "";
    background: url(https://img.freepik.com/free-photo/person-front-computer-working-html_23-2150040412.jpg?t=st=1713089239~exp=1713092839~hmac=333a954879b236aac23060d776d2d58c54c9947a83df90091b076330d95992af&w=740);
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity:1;
    top: 0;
    left: 0;
    z-index: -1;
}



.heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1 {
    font-size: 2.4rem;
}
.hero-img p {
    font-size: 2rem;
    text-align: center;
    
}

@media screen and (max-width :640px) {
    .hero-img h1 {
        font-size: 2rem;
    }
    
}